# Default ignored files
/shelf/
/workspace.xml

*.pyc
.idea/*
*.DS_Store
.vscode/*
src/main/python/.vscode/*
# Documentation
docs_imported/*
docs/build/*
docs/source/generate/
docs/source/generated/

# Executable creation
build/*
dist/*
!dist/SLPAA-win64*.zip
!dist/SLPAA-macos*.zip


