# Default ignored files
/shelf/
/workspace.xml

*.pyc
.idea/*

# Documentation
docs_imported/*
docs/build/*
docs/source/generate/
docs/source/generated/

# Executable creation
src/main/python/build
src/main/python/dist

