# Default ignored files
/shelf/
/workspace.xml

*.pyc
.idea/*

# Documentation
docs_imported/*
docs/build/*
docs/source/generate/
docs/source/generated/

# Executable creation
build/*
dist/*
!dist/SLPAA-win64*.zip
!dist/SLPAA-macos*.zip

src/main/resources/base/predefined_locations/svg_utility_scripts/
src/main/resources/base/predefined_locations/*_20240508version_noplaceholders/

